#include "../test.dtsi"

#include <dt-bindings/zmk/input.h>

/ {
	runtime_input_processor_test: runtime_input_processor_test {
		compatible = "zmk,input-processor-runtime";
		name = "test_proc";
		type = <INPUT_EV_REL>;
		x-codes = <INPUT_REL_X>;
		y-codes = <INPUT_REL_Y>;
		scale-multiplier = <1>;
		scale-divisor = <1>;
		rotation-degrees = <0>;
		track-remainders;
	};
};

